{% extends "base_admin.html" %}

{% block title %}商品編集{% endblock %}

{% block page_title %}商品を編集する{% endblock %}

{% block content %}
<form enctype="multipart/form-data" method="post">{% csrf_token %}
    <div class="mb-3">
        <label for="productName" class="form-label">商品名</label>
        <input type="text" class="form-control" id="productName" name="name" value="{{ object.name }}">
    </div>

    <div class="mb-3">
        <label for="productDescription" class="form-label">商品説明</label>
        <textarea class="form-control" id="productDescription" rows="3" maxlength="100"
            name="description">{{ object.description }}</textarea>
    </div>

    <div class="mb-3">
        <label for="productPrice" class="form-label">価格</label>
        <input type="number" class="form-control" id="productPrice" step="100" name="price" value="{{ object.price|floatformat:0 }}">
    </div>

    <div class="mb-3">
        <label for="productImage" class="form-label">商品画像</label>
        {% if product.image %}
        <img src="{{ object.image.url }}" alt="{{ object.name }}" class="img-thumbnail d-block mb-3" style="max-height: 200px;">
        {% else %}
        <p>※現在は商品画像が登録されていません。</p>
        {% endif %}
        <input class="form-control" type="file" id="productImage" name="image">
    </div>

    <button type="submit" class="btn btn-primary">変更を保存する</button>
    <a href="{% url 'product:manage_list' %}" class="btn btn-secondary ms-2">管理一覧に戻る</a>
</form>
{% endblock %}
