{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}商品詳細: {{ product.name }}{% endblock %}

{% block header %}{% endblock header %}

{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">

            <div class="col-md-6">
                {% if product.image %}
                <img class="card-img-top mb-5 mb-md-0" src="{{ product.image.url }}" alt="{{ product.name }}"
                    style="max-width: 100%; max-height: 400px; object-fit: contain;" />
                {% else %}
                <img class="card-img-top mb-5 mb-md-0" src="{% static 'product/images/no_image.jpg' %}" alt="NO IMAGE"
                    style="max-width: 100%; max-height: 400px; object-fit: contain;">
                {% endif %}
            </div>

            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                <div class="fs-5 mb-5">
                    <span>¥{{ product.price|floatformat:0|intcomma }}</span>
                </div>
                <p class="lead">{{ product.description }}</p>

                <div class="d-flex">
                    <form method="post" action="{% url 'product:add_to_cart' object.pk %}" class="d-flex">
                        {% csrf_token %}

                        <input type="hidden" name="next" value="product_detail">

                        <input class="form-control text-center me-3" name="quantity" type="number" value="1" min="1"
                            style="max-width: 4.3rem" />

                        <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            カートに追加
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for related_product in related_products %}
            <div class="col mb-5">
                <div class="card h-100">
                    {% if related_product.image %}
                    <img class="card-img-top" src="{{ related_product.image.url }}" alt="{{ related_product.name }}" />
                    {% else %}
                    <img class="card-img-top" src="{% static 'product/images/no_image.jpg' %}" alt="NO IMAGE">
                    {% endif %}
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{ related_product.name }}</h5>
                            ¥{{ related_product.price|floatformat:0|intcomma }}
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                href="{% url 'product:product_detail' related_product.pk %}">詳細を見る</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<a href="{% url 'product:product_list' %}" class="btn btn-secondary mt-3">一覧に戻る</a>
{% endblock content %}
