{% extends "base_admin.html" %}

{% block title %}商品削除{% endblock %}

{% block page_title %}商品の削除{% endblock %}

{% block content %}
<form method="post" action="">{% csrf_token %}
    <div>
        {% if product.image %}
        <img class="img-thumbnail" style="max-height: 200px;" src="{{ object.image.url }}" alt="{{ object.name }}">
        {% else %}
        <div class="img-thumbnail bg-light d-flex align-items-center justify-content-center text-muted" style="width: 200px; height: 200px;">
            <span class="small">準備中</span>
        </div>
        {% endif %}
    </div>
    <div class="mt-3">
        <h3>{{ object.name|default:"" }}を削除しますか？</h3>
        <button type="submit" class="btn btn-danger">削除する</button>
        <a href="{% url 'product:manage_list' %}" class="btn btn-secondary ms-2">キャンセル</a>
    </div>
</form>
{% endblock %}
