{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}商品一覧{% endblock %}

{% block content %}
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for product in object_list %}
    
        <div class="col mb-5">
            <div class="card h-100">
                <a href="{% url 'product:product_detail' product.pk %}">
                    {% if product.image %}
                    <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}" />
                    {% else %}
                    <div class="card-img-top bg-light d-flex align-items-center justify-content-center text-muted border-bottom" style="aspect-ratio: 1 / 1;">
                        <span class="small">準備中</span>
                    </div>
                    {% endif %}
                </a>
                <div class="card-body p-4">
                    <div class="text-center">
                        <h5 class="fw-bolder">
                            <a href="{% url 'product:product_detail' product.pk %}" style="color: inherit;">
                                {{ product.name|default:"" }}
                            </a>
                        </h5>
                        ¥{{ product.price|floatformat:0|intcomma }}
                    </div>
                </div>
    
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                        {% if product.is_available %}
                        <form method="post" action="{% url 'product:add_to_cart' product.pk %}">{% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.pk }}">
                            <button type="submit" class="btn btn-outline-dark mt-auto">
                                カートに追加
                            </button>
                        </form>
                        {% else %}
                        <button type="button" class="btn btn-secondary mt-auto" disabled>
                            入荷待ち
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p>商品が登録されていません。</p>
        {% endfor %}
    </div>
    {% endblock content %}


