{% extends "base_admin.html" %}

{% block title %}商品追加{% endblock %}

{% block page_title %}商品を追加する{% endblock %}

{% block content %}
<form enctype="multipart/form-data" method="post">{% csrf_token %}
    <div class="mb-3">
        <label for="productName" class="form-label">商品名</label>
        <input type="text" class="form-control" id="productName" name="name">
    </div>

    <div class="mb-3">
        <label for="productDescription" class="form-label">商品説明</label>
        <textarea class="form-control" id="productDescription" rows="3" maxlength="100" name="description"></textarea>
    </div>

    <div class="mb-3">
        <label for="productPrice" class="form-label">価格</label>
        <input type="number" class="form-control" id="productPrice" step="100" name="price">
    </div>

    <div class="mb-3">
        <label for="productImage" class="form-label">商品画像</label>
        <input class="form-control" type="file" id="productImage" name="image">
    </div>

    <button type="submit" class="btn btn-primary">商品を登録する</button>
    <a href="{% url 'product:manage_list' %}" class="btn btn-secondary ms-2">管理一覧に戻る</a>
</form>
{% endblock %}
