{% extends "base_admin.html" %}

{% block title %}商品管理一覧{% endblock %}

{% block page_title %}商品管理一覧{% endblock %}

{% block header_buttons %}
    <a href="{% url 'product:order_list' %}" class="btn btn-outline-light">
        <i class="bi bi-list-check"></i> 受注一覧を見る
    </a>
    <a href="{% url 'product:product_create' %}" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> 商品を追加する
    </a>
{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>商品名</th>
            <th>価格</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for product in manage_list %}
        <tr>
            <td>{{ product.pk }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price|floatformat:0 }}</td>
            <td>
                <a href="{% url 'product:product_update' pk=product.pk %}" class="btn btn-success">編集</a>
                |
                <a href="{% url 'product:product_delete' pk=product.pk %}" class="btn btn-danger">削除</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">登録されている商品はありません。</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
